*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Roboto', sans-serif;
	position: relative;
	&.no-scrolling{
		overflow: hidden;
	}
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	font-family: 'Roboto', sans-serif;
}
.container {
	@media (min-width: 1200px){
	    max-width: 1190px;
	}
	@media (max-width: 992px){
		max-width: 100%;
	}
}
.f-12{
	font-size: 12px;
}
.f-14{
	font-size: 14px;
}
.f-18{
	font-size: 18px;
	@media (max-width: 767px){
		font-size: 14px;
	}
}
.f-24{
	font-size: 24px;
	@media (max-width: 767px){
		font-size: 16px;
	}
}
.font-weight-500{
	font-weight: 500 !important;
}
strong{
	color: #212121;
}
.action-block {
	a{
		padding: 6px 10px;
		font-size: 12px;
		color: #00bfbf;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid #00bfbf;
		border-radius: 5px;
    	padding: 12px 15px;
    	text-decoration: none;
	    text-transform: uppercase;
	    font-weight: 600;
    	&:hover{
    		text-decoration: none;
    	}
	}
}
.content-sidebar-wrap{
    padding: 60px 0;
}
a{
	&:hover{
		text-decoration: none;
	}
	&:focus{
		outline: 0;
	}
}
.fb_iframe_widget_fluid_desktop, .fb_iframe_widget_fluid_desktop span, .fb_iframe_widget_fluid_desktop iframe{
	width: 100% !important;
}