.form-control{
	height: auto;
	border-right: 0;
	border-color: #00bfbf;
	color: #272727;
}
.site-header{
    box-shadow: 0px 0px 8px 0px #cacaca;
    padding: 0 10px;
	.tob-bar-menu{
		display: none;
		@media (min-width: 992px){
			display: flex;
			justify-content: flex-end;
			padding-bottom: 10px;
			ul#menu-top-menu{
				display: flex;
				justify-content: flex-end;
				margin-bottom: 0;
				li{
					list-style-type: none;
					a{
						font-size: 12px;
						line-height: 20px;
						display: inline-block;
						position: relative;
						font-weight: 300;
						padding: 0 10px;
						color: #626262;
						text-decoration: none;
						border-right: 1px solid #ccc;
						&:hover{
							color: #00bfbf;
						}
					}
					&:last-child{
						a{
							border-right: 0;
							padding-right: 0;
						}
					}
				}
			}
		}
	}
    .site-navigation{
	    transition: 0.1s all ease-in;
		.main-header{
			border-bottom: 1px solid #ececec;
			.logo-text{
				display: flex;
				.site-logo{
					.toggler{
						margin-right: 10px;
						&:hover,
						&:focus{
							cursor: pointer;
						}
						.top-line,
						.mid-line,
						.bot-line{
							background: #36b6b0;
							color: #36b6b0;
							width: 1.7rem;
							height: 2.36px;
							margin: 6px;
						}
						@media (min-width: 992px){
							display: none;
						}
					}
					img{
						@media (max-width: 991px){
							max-width: 145px;
							object-fit: contain;
						}
					}
					@media (max-width: 991px){
						margin-bottom: 18px;
					}
				}
				.input-group{
					flex-wrap: nowrap;
					.form-control{
						@media (max-width: 991px){
							border: 0;
						    height: 42px;
					    	box-shadow: 0 0 3px 0 rgba(0,0,0,.22);
			    	    	border-radius: 4px;
						}
					}
				}
				@media (max-width: 991px){
					display: block;
					width: 100%;
				}
			}
			.search-bar{
				width: 320px;
		    	padding: 0 15px;
				&:focus{
					outline: 0;
					box-shadow: none;
					border-color: #00bfbf;
					color: #272727;
				}
				&::placeholder {
					color: #626262;
					opacity: 1; 
					@media (max-width: 991px){
						color: #afafaf;
					}
				}
				@media (max-width: 991px){
					width: 280px;
				}
				@media (max-width: 767px){
					width: 100%;
				}
			}
			.button-icon{
				border: 1px solid #00bfbf;
				border-radius: 0 5px 5px 0;
				border-left: 0;
				.btn{
					background: #00bfbf;
					color: black;
				    padding: 0 8px;
				    position: relative;
				    img.search-icon-white{
				    	@media (max-width: 991px){
				    		display: none;
			    		}
				    }
				    img.search-icon-grey{
				    	display: none;
			    		@media (max-width: 991px){
			    			display: block;
			    		}
				    }
				    @media (max-width: 991px){
				    	background: transparent;
				    }
				}
				@media (max-width: 991px){
					border: 0;
					position: absolute;
					top: 6px;
					right: 5px;
				}
			}
		}
		.header-menu{
			ul.menu {
				padding-left: 0;
				display: flex;
				margin-bottom: 0;
				@media (min-width: 992px){
					> li:first-child{
						display: none;
						.sub-menu{
							> li:first-child{
								display: block;
								.sub-menu{
									> li:first-child{
										display: block;
									}
								}
							}
						}
					}
				}
				li{
					list-style-type: none;
					padding-right: 34px;
					margin-right: 15px;
					a{
						font-size: 16px;
						line-height: 20px;
						display: inline-block;
						position: relative;
						font-weight: 500;
					    color: #212121;
						text-decoration: none;
						padding: 8px 0;
						&:hover{
							color: #212121;
						}
					}
					@media (min-width: 992px){
						.sub-menu{
			 				display: none; 
						    background: white;
						    border-radius: 4px;
						    position: absolute;
						    top: 36px;
						    left: 0;
						    right: 0;
						    min-height: 440px;
						    width: 250px;
						    box-shadow: 0px 0px 5px 0px #f3f3f3;
						    z-index: 4;
						    li{
					    	    margin-right: 0px;
							    width: auto;
							    background: #f3f3f3;
							    padding: 0 20px;
							    
						    	a{
						    		color: black;
						    		padding: 10px 0;
						    		font-weight: normal;
						    		font-size: 14px;
						    	}
						    	.sub-menu{
						    		display: none;
								    position: absolute;
								    top: 0;
								    margin-left: 250px;
								    width: fit-content;
								    background: white;
								    z-index: 5;
						    		li{
										background: transparent;
										position: unset;
										width: auto;
										padding: 0 15px;
									    z-index: 2;
				    					a{
				    						font-weight: 500;
				    						white-space: nowrap;
				    						&:hover{
				    							color: #00bfbf;
				    						}
			    						}
						    			.sub-menu{
						    				display: none;
						    				padding: 0;
						    				position: unset;
					    				    height: auto;
					    				    background: white;
					    				    box-shadow: none;
					    				    margin-left: 0;
				    				        min-height: auto;
						    				li{
						    					padding-left: 0;
						    					position: unset;
						    					a{
						    						font-weight: normal;
						    						white-space: nowrap;
					    						    padding: 0px 0;
													font-size: 12px;
						    						&:hover{
						    							color: #00bfbf;
						    						}
					    						}
						    				}
						    			}
						    		}
						    	}
						    	&.active{
						    		background: #fff;
						    	}
						    	&:hover{
						    		.sub-menu{
										display: flex;
										flex-wrap: wrap;
										width: 59vw;
						    			li{
						    				background: white;
						    				.sub-menu{
						    					display: block;
						    				}
						    			}
						    		}
						    	}
						    }
						}
					}
					&.hassub{
						position: relative;
						.sub-menu{
							background: #f3f3f3;
						}
						&:before{
							content: '';
							position: absolute;
							top: 13px;
							right: 20px;
							width: 7px;
							height: 7px;
							background: transparent;
							border-top: 2px solid #00bfbf;
							border-left: 2px solid #00bfbf;
							transition: all 250ms ease-in-out;
							text-decoration: none;
							color: transparent;
							transform: rotate(-135deg);
						}
						&:hover{
							&:before{
								transform: rotate(45deg);
								top: 16px;
							}
						}
					}
					&.active{
						.sub-menu{
							display: block;
							li{
								background: transparent;
						 		&.active{
						 			background: transparent;
						 			&:hover{
						 				background: #fff;
						 			}
							 	}
							 	.sub-menu{
									display: flex;
									flex-wrap: wrap;
									width: max-content;
									li{
										.sub-menu{
											display: inline;
											margin-left: 0;
										}
									}
							 	}
							}
						}
						&:hover{
							a{
								color: #212121;
							}
						}
					}
					&:hover{
						.sub-menu{
							display: block;
							li.active:first-child{
								> .sub-menu{
									    display: flex;
									    flex-wrap: wrap;
									    width: 59vw;
									li{
										.sub-menu{
											display: block;
											margin-left: 0;
										}
									}
								}
							}
						}
					}
				}
				@media (max-width: 991px){
					display: none;
				}
			}
		}
		&.headerScroll{
			@media (max-width: 991px){
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				background: white;
				z-index: 9;
				.main-header{
				 	padding: 20px 0 4px !important;
					.site-logo{
						img, span{
							display: none;
						}
						.toggler{
							margin-left: 10px;
						}
					}
					.input-group{
						position: absolute;
						top: 15px;
						left: auto;
						right: 18px;
						width: 75%;
						transition: 0.2s all ease-in;
					}
				}
			}
		}
	}
	.menu-content-list{
		display: none;
		@media (max-width: 991px){
			display: block;
			> div{
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				height: 100%;
				background: #ffffff;
				z-index: 99;
				display: none;
			    transition: 0.4s ease-in;
				&.visible{
					display: block;
				}
				.user-bar{
					background: #fff;
					color: #000;
					padding: 27px 20px 12px;
					box-shadow: 0 0.5px 0.5px 0 rgba(0,0,0,.3);
					font-size: 14px;
					width: 100%;
					float: left;
					z-index: 11111;
					position: relative;
					.user-name{
						float: none;
						max-width: 76%;
						text-overflow: ellipsis;
						overflow: hidden;
						font-size: 16px;
						font-weight: 600;
						color: #000;
						position: static;
						-ms-transform: none;
						transform: none;
						-webkit-font-smoothing: subpixel-antialiased;
						display: inline-block;
						vertical-align: middle;
					}
					.user-mweb-button{
						margin-top: 11px;
						margin-bottom: 5px;
						ul{
							margin: 0;
							padding: 0;
							display: flex;
							li{
							    margin-right: 10px;
							    list-style-type: none;
								a{
									height: 30px;
									box-sizing: border-box;
									border: 1px solid #d3d4d5;
									color: #1a4f69;
									padding: 6px 12px;
									line-height: normal;
									&:hover{
										text-decoration: none;
									}
								}
							}
						}
					}
					.close-icon{
						position: absolute;
						top: 26px;
						right: 30px;
						cursor: pointer;				
		    			&:before{
							content: '';
							height: 20px;
							border-left: 2px solid #212121;
							position: absolute;
							transform: rotate(-45deg);
							left: 0px;
						}
						&:after{
							content: '';
							height: 20px;
							border-left: 2px solid #212121;
							position: absolute;
							transform: rotate(45deg);
							left: 0px;
						}
					}
				}
			}
			.list-view{
				height: 100%;
				> div {
					height: 100%;
					.menu{
						display: inline-block;
					    background: #4a4a4a;
					    margin-bottom: 0;
				        height: 100%;
				        position: relative;
			            width: 100%;
		                padding-top: 6px;
						> li:first-child{
							position: relative;
							margin-left: 24px;
							list-style-type: none;
							a{
								font-weight: 700;
								font-size: 14px;
							}
							&:after{
								content: '';
								position: absolute;
								top: 8px;
								left: -6px;
								right: 0;
								bottom: 0;
								background: url(../images/shop-menu.png) no-repeat;
							}
						}
						li{
							a{
								font-size: 13px;
								line-height: 20px;
								display: inline-block;
								position: relative;
								font-weight: 400;
								color: white;
								text-decoration: none;
							    padding: 8px 15px;
							}
							&.hassub{
								display: flex;
								margin-right: 0;
								margin-top: 5px;
								align-items: flex-start;
								a{
									font-size: 13px;
									line-height: 20px;
									display: inline-block;
									position: relative;
									font-weight: 400;
									color: white;
									text-decoration: none;
								    padding: 8px 15px;
								}
								.sub-menu{
									display: none;
									overflow: auto;
									position: absolute;
									left: 145px;
									right: 0;
									top: 0;
									bottom: 0;
									width: initial;
									background: white;
			    					li{
										border-bottom: 1px solid #f0f0f0;
										float: left;
										width: 100%;
			    						a{
											color: #080808;
											font-weight: 400;
											font-size: 15px;
											position: relative;
											display: block;
											padding: 10px 15px;
											width: auto;
										}
			    						.sub-menu{
			    							display: none;
			    							position: unset;
			    							background: #f0f0f0;
			    							li {
			    								a{
			    									display: block;
													color: #080808;
													font-size: 13px;
													line-height: 20px;
													padding-top: 15px;
													padding-bottom: 15px;
												    border-bottom: 1px solid #fff;
			    								}
				    							&.selected{
				    								.sub-menu{
				    									display: block !important;
				    								}
				    							}
			    							}
			    						}
			    						&.selected{
			    							.sub-menu{
			    								display: block;
				    							li{
				    								a{
				    									&:before, &:after{
				    										content:'';
				    										display: none;
				    									}
				    								}
				    								&:last-child{
				    									border-bottom: 0;
				    								}
				    								.sub-menu{
				    									display: none;
				    								}
				    							}
			    							}
			    							&:before{
			    								content: "";
			    								display: none;
			    							}
			    							&:after{
												content: "";
												position:absolute;
												background: #424242;
												top: 21px;
												right: 16px;
												width: 12px;
												height: 2px;
												transform: translateY(-50%);
			    							}
			    						}
			    					}
		    						li.hasSubChild{
		    							position: relative;
										&:before{
											content: "";
											position:absolute;
											background:#787878;
											right: 20px;
											top: 15px;
											bottom: 4px;
											width: 2px;
											height: 12px;
											transform:translateX(-50%);
								    	}
								    	&:after{
											content: "";
											position:absolute;
											background:#787878;
											top: 21px;
											right: 16px;
											width: 12px;
											height: 2px;
											transform: translateY(-50%);
								    	}
		    						}
								}
								&:first-child{
									.sub-menu{
										display: block;
									}
								}
								&.selected{
									a{
										font-weight: 700;
			    						font-size: 14px;
		    						    width: 145px;
		    						    position: relative;
	    							    &:before{
											right: 0;
											top: 26%;
										    border-top: 10px solid transparent;
										    border-right: 10px solid white;
										    border-bottom: 10px solid transparent;
											content: " ";
											height: 0;
											width: 0;
											position: absolute;
											pointer-events: none;
									    }
									}
									.sub-menu{
										display: block;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.action-block{
		@media (max-width: 991px){
			display: none;
		}
	}
}