.sidebar{
	float: none;
	width: 100%;
	.widget{
		margin-bottom: 0;
	}
	.widget_media_image{
		margin: 20px 0;
	}
	.banner-image{
		background: #E8F3F5;
		width: 100%;
		height: 250px;
		margin: 20px 0;
		border-radius: 4px;
		@media (max-width: 767px){
			display: none;
		}
	}
	.form-wrapper{
		background: #F2F2F2;
		padding: 26px;
		.wrap{
			.form-title{
				font-size: 18px;
				line-height: 24px;
				color: black;
				font-weight: 800;
				text-transform: capitalize;
			}
		    label{
		    	font-size: 16px;
				color: #1D252D;
			    margin: 10px 0 15px;
		    }
		    p{
	    	    font-size: 14px;
    	        color: black;
		    }
		    input, textarea{
		    	&::placeholder{
		    		color: rgba(80, 109, 133, 0.8);
		    	}
		    }
		    textarea{
		    	border-radius: 8px;
		    }
			.form-control, input[type="email"]{
				border: 1px solid #BCCCDB;
				padding: 10px;
				box-shadow: 0px 0px 30px 0px #1D252D0A;
			    color: #506D85;
		        height: 50px;
			}
			.hk-btn, .frm_button_submit{
				background: #18C7C7;
				height: 48px;
				border-radius: 4px;
			    width: 100%;
			    text-transform: uppercase;
			    font-size: 15px;
			    line-height: 20px;
			    letter-spacing: 0.6px;
			    border: 0;
		        font-weight: bold;
	            margin: 0;
			    &:hover{
			    	background: #ccc;
			    }
				@media (max-width: 767px){
					height: 43px;
				    line-height: 15px;
				}
			}
		}
		&.qna{
			.wrap{
				.form-title{
					border-bottom: 1px solid #bfbfbf;
					text-transform: uppercase;
				}
				.hk-btn{
					@media (max-width: 767px){
					    margin-top: 30px;
					}
				}
			}
			@media (max-width: 767px){
				background: transparent;
				order: 1;
			    padding: 0px 0 40px;
			}
		}
		&.subscribe{
			.wrap{
				//border-top: 1px solid rgba(112, 112, 112, 0.45);
				//padding-bottom: 20px;
				.form-group{
					margin-bottom: 0;
				}
				.form-title{
					font-size: 26px;
					line-height: 33px;
					padding-top: 5px;
					@media (max-width: 767px){
						padding-top: 0;
					}
				}
				@media (max-width: 767px){
					border-top: 0px;
					padding: 0;
				}
			}
			@media (max-width: 767px){
				order: 4;
			}
		}
	}
	.related-articles{
		.section-title{
			border-bottom: 1px solid rgba(112, 112, 112, 0.45);
		}
		p.no-post{
			font-size: 14px;
			text-align: center;
			padding: 18px 0 10px;
			font-weight: 600;
		}
		.recent-post{
			border-bottom: 1px solid #bfbfbf;
			.category{
				a{
					font-size: 12px;
				}
			}
			.last-read{
				font-size: 12px;
			}
			h2.title{
				padding: 0;
				line-height: 20px !important;
				a{
					font-size: 16px;
					line-height: 20px !important;
					font-weight: 600;
					color: black;
					&:hover{
						text-decoration: none;
					}
				}
			}
			&:last-child{
				border-bottom: 0;
			}
		}
		@media (max-width: 767px){
			order: 2;
		}
	}
	.read-these-next{
		.section-title{
			border-bottom: 1px solid rgba(112,112,112,0.45);
		}
		.title{
			a{
				font-size: 20px;
				line-height: 26px;
				font-weight: 900;
				color: black;
				&:hover{
					text-decoration: none;
				}
			}
		}
		.recent-post-featured-img{
			img{
				width: 100%;
			}
		}
		.next-articles{
			.recent-post-icons{
				display: none;
				margin: 30px 0 10px;
				span.heart{
					i{
						color: red;
					}
				}
				span.comment{
					i{
						color: #868686;
					}
				}
			}
			@media (max-width: 767px){
				margin: 15px 0 0px;
			}
		}
		@media (min-width: 768px){
			display: none;
		}
		@media (max-width: 767px){
			order: 3;
		}
	}
	@media (max-width: 767px){
	    display: inline-flex;
    	flex-direction: column;
	}
}
.widget-wrap{
	img{
		width: 100%;
		object-fit: contain;
	}
}