.breadcrumbs-wrapper{
	.breadcrumbs-inside{ 
		margin: 28px 0;
		a{
			font-size: 14px;
    		color: #949494;
    		font-weight: 600;
			.fa-home{
				color:theme-color("dark-blue");
				font-size: 15px;

				@media(max-width:768px){
					color: theme-color("mobile-text");
				}
			}
		    &:hover{
		    	text-decoration: none;
		    }
		    &:after{
	    	    content:">";
			    margin: 0 3px 0 10px;
				color: #949494;
				font-weight: bold;
				font-family: monospace;
				font-size: 18px;

				@media(max-width:768px){
					font-size: 14px;
				}
		    }
		    &:last-child{
		    	color: #949494;
		    	&:after{
		    	    content: "";
			    }
		    }
		}
		.breadcrumb_last{
			font-size: 14px;
    		color: #949494;
    		font-weight: 600;
		}
	}
}
/* author top bar */
.author-bar-top, .author-bar-bottom{
	.author{
		position: relative;
		border-top: 1px solid #00000066;
		padding: 30px 0 0 !important;
		display: flex;
		align-items: center;
		grid-gap: 0 20px;

		&__profile{
			align-self: flex-start;
			img{
				height: 72px;
				width: 72px;
				border: 1px solid #707070;
				border-radius: 100%;
			}
		}

		&__content{
			.reviewer-name{
				font-size: 20px;
				line-height: 112%;
				font-weight: 600;
				margin-top: 10px;
				a{
					color:theme-color("dark-blue");

					&:hover{
						color:theme-color("dark-turquoise");
					}
				}
				@media(max-width:768px){
					font-size: 12px;;
				}
			}
			.author-name{
				margin-bottom: 10px;
				a{
					font-size: 20px;
					font-weight: bold;
					letter-spacing: 0.6px;
					text-transform: uppercase;
					color:theme-color("dark-blue") !important;
					transition: color 250ms ease-in-out;

					@media(max-width:768px){
						color: theme-color("mobile-text") !important;
					}

					&:hover{
						color:theme-color("dark-turquoise") !important;
					}
				}
			}
			.article-date-time{
				margin:0;
				span{
					font-size: 20px;
					line-height: 100%;
					font-weight: 600;
					color:theme-color("dark-blue") !important;

					@media(max-width:768px){
						color: theme-color("mobile-text") !important;
					}
				}
			}
		}

		&__social{
			flex-grow: 1;
			display: flex;
			justify-content: flex-end;
			grid-gap: 0 15px;

			&__icons{
				font-size: 23px;
				color:theme-color("dark-blue") !important;
				transition: color 250ms ease-in-out;

				&:hover{
					color:theme-color("dark-turquoise") !important;
				}
			}
		}
	}
	@media(max-width:768px){
		.author{
			padding-top: 10px !important;
			grid-gap: 0 10px;
			&__profile{
				min-width: 32px;
				align-self: flex-start;
				margin-top: 7px;
				img{
					height: 32px;
					width: 32px;
				}
			}
			&__content{
				.author-name{
					line-height: 20px;
					margin: 0;
					a{
						font-size: 14px;
					}
				}
				.article-date-time{
					line-height: 12px;
					span{
						font-size: 12px;
						color: #2D3748;
					}
				}
			}
			&__social{
				grid-gap:0 10px;

				&__icons{
					font-size: 14px;
				}
			}
		}
	}
}
/* author bottom bar */
.author-bar-bottom{
	.author{
		align-items: flex-start;

		&__profile{
			.profile-container{
				width: 72px;
			}
		}

		&__content{
			font-size: 20px;
			line-height: 35px;
			font-weight: 600;

			p{
				margin: 0;
			}
		}
	}
	@media(min-width:769px){
			margin-bottom:60px;
	}
	@media(max-width:768px){
		.author{
			&__profile{
				.profile-container{
					width: 32px;
				}
			}
			&__content{
				font-size: 14px;
				line-height: 20px;
			}
		}
	}
}
.single-post{
	.single_post_page{
		.transformation-section-single-image img{
			height: auto;
		}
		.category{
			margin: 10px 0;
			a{
				color: #00bfbf;
				font-weight: 500;
				font-size: 14px;
			    line-height: 18px;
			    &:hover{
			    	text-decoration: none;
			    }
			}
		}
		.dot{
		    padding: 0 8px;
			i{
				font-size: 5px;
				vertical-align: middle;
			}
		}
		.last-read{
			color: rgba(0,0,0,0.49);
			font-size: 14px;
			line-height: 26px;
		}
		.entry-title{
			font-size: 55px;
			line-height: 75px;
			font-weight: bold;
			padding-bottom: 0;
			margin: 80px 0 40px;
		    text-transform: capitalize;
			@media (max-width: 768px){
				font-size: 20px;
			    line-height: 25px;
				margin: 20px 0;
			}
		}
	    .author{
			padding: 10px;
			@media (max-width: 768px){
				font-size: 20px;
				line-height: 24px;
			}
	    }
	    .entry-header{
			.blog_featured_img{
				height: 464px;

				img{
					height: 100%;
					width: 100%;
			    	max-width: 100%;
			    	object-fit: cover;
				}

				@media(max-width:768px){
					height: 225px;
				}
			}
	    	.post-title{
				display: flex;
			    align-items: flex-end;
				.entry-title{
				    max-width: 100%;
				    float: left;
					@media (max-width: 768px){
						max-width: 100%;
						width: 100%;
					}
				}
				.author{
			    	float: left;
					flex: 0 0 33.33333%;
					max-width: 33.33333%;
					padding: 15px 15px 0px 15px;
					&-image{
					    margin-right: 15px;
						img{
							width: 36px;
							height: 36px;
							border-radius: 36px;
						}
					}
					.role{
						color: $gray-600;
					}
					.reviewer{
						margin-bottom: 10px;
					}
					@media (max-width: 768px){
						font-size: 26px;
						line-height: 33px;
						max-width: 100%;
						width: 100%;
						padding-left: 0;
					}
			    }
			    @media (max-width: 768px){
			    	flex-direction: column;
			    }
	    	}
	    }
		/* h2{
    		padding: 30px 0 0;
			font-size: 24px!important;
			line-height: 1.5;
		    span{
				font-weight: 600 !important;
				font-size: 24px! important;
				line-height: 1.5;
		    }
		    @media (max-width: 768px){
		    	font-size: 20px !important;
		    	line-height: 24px;
		    	padding-top: 5px;
		    }
		} */
		.entry-content {
			margin: 0;
			padding-top: 80px;
			table{
				border: 0;
			}
			table td.rtecenter{
				text-align: center;
			}
			table tr:nth-child(2n+1){
				background: #e0e0e0;
			}
			table tr:nth-child(2n+2){
				background: #f5f5f5;
			}
			a{
				color: #00bfbf;
				span{
					color: #272727 !important;
				    font-weight: 400;
				    text-decoration: underline;
				    transition: all 0.35s ease;
				    color: #212326 !important;
				    &:hover{
				    	text-decoration: none;
				    }
				}
			}
			p:first-child{
				margin-top: 0 !important;
			}
			p, span{
			    font-family: 'Nunito', sans-serif !important;
				font-size: 24px;
				line-height: 45px !important;
				margin: 0px 0 40px !important;
				text-align: justify;
				@media (max-width: 768px){
					font-size: 14px;
					line-height: 20px !important;
					margin-bottom: 20px !important;
				}
				&:last-child{
					margin-bottom: 0 !important;
				}
   			}
   			ul, ol{
   				li{
					font-size: 24px;
					line-height: 45px !important;
					@media (max-width: 768px){
						font-size: 14px;
						line-height: 20px !important;
					}
   				}
   			}
			.para-heading{
				   font-size: 40px;
				   line-height: 45px;
				   font-weight: bold;
				   margin-bottom: 30px;
			}
			figure{
				margin: 0;
				margin-bottom: 30px;
				figcaption{
					font-size: 22px;
					line-height: 34px;
					font-weight: bold;
					font-style: italic;
					margin: 26px 0 0;
				}
				img{
					width: 100%;
				}
			}
			ul.list{
				li{
					list-style-type: disc;
				}
			}
			::marker{
				font-weight: bold;
			}
			@media(max-width:768px){
				padding-top: 20px;

				.para-heading{
					font-size: 18px;
					line-height: 24px;
					margin-bottom: 10px;
				}
				figure{
					margin-bottom: 20px;
					figcaption{
						font-size: 12px;
						line-height: 20px;
						margin-top: 10px;
					}
				}
			}
		}
		.hk-content-image{
			margin: 0 0 30px;
			img{
				width: 100%;
			}
			@media(max-width:768px){
				margin-bottom: 10px;
			}
		}
		.share{
			margin: 40px 0;
			border: 1px solid #2D374833;
    		border-radius: 5px;
			&-icons{
				display: flex;
				align-items: center;
				color: #9c9c9c;
				span{
					font-size: 12px;
				}
				a{
					font-size: 20px;
					line-height: 45px;
					color:theme-color("dark-blue");
					font-weight: bold;
					transition:color 250ms ease-in-out;

					@media(max-width:768px){
						color: theme-color("mobile-text");
					}
					i{
						font-size: 23px;
						cursor: pointer;
					}
					&:hover{
						text-decoration: none;
						color:theme-color("dark-turquoise");
					}
				}
				i{
				    font-size: 23px;
				    cursor: pointer;
				}
				&__icon{
					width: 33.33%;
					display: flex;
					padding: 23px 0;
					align-items: center;
					justify-content: center;

					&:not(:last-child){
						border-right: 1px solid #2D374833;
					}
				}
			}
			&-desktop{
				.share-icons__icon{
					i{
						margin-right: 10px;
					}
				}
				@media (max-width: 768px){
					display: none;
				}
			}
			&-mob{
				.share-icons__icon{
					padding: 15px 0;
				}
			    .share-title{
			    	font-size: 20px;
			    	line-height: 26px;
			    	color: #918F8F;
			    	text-transform: capitalize;
			    }
				@media (min-width: 768px){
					display: none;
				}
			}
			@media (max-width: 768px){ 
				margin: 20px 0;
			}
		}
		.article-tags{
			font-size: 24px;
			line-height: 45px;
			margin: 40px 0 30px;
			&__tag{
				color:theme-color("dark-blue");
				text-decoration: underline;
				text-decoration-thickness: 8%;
				transition: color 250ms ease-in-out;

				@media(max-width:768px){
					color: theme-color("mobile-text");
				}

				&:hover{
					color:theme-color("dark-turquoise");
				}
				&:not(:last-child){
					&:after{
						content:',';
					}
				}
			}
			@media(max-width:768px){
				font-size: 14px;
				line-height: 20px;
				margin: 20px 0 10px;
				&__tag{
					color: theme-color("mobile-text");
				}
			}
		}
	.divider-eyes{
		@media(max-width:768px){
			margin-top: 20px;
		}
	}
	}
	&-content{
		padding-right: 50px;
		@media (max-width: 768px){
			padding-right: 15px;
		}
	}
	@media (max-width: 768px){
		.breadcrumbs-wrapper{
			.breadcrumbs-inside{
				margin: 11px 0 12px;
				.breadcrumb_last, a{
					font-size: 11px;
				}
				a:after{
					margin: 0 0px 0 5px;
				}
			}
		}
		#footer-widgets{
			margin-top: 20px;
		}
		.smaller-container, .latest-reads, .subscribe-container{
			padding: 0 20px;
		}
		.divider-eyes{
			width: calc(100% - 40px);
		}
	}
}
.category-name{
	margin-bottom: 0;
	a{
		color: #000000;
		padding: 0 15px;
		font-size: 30px;
		line-height: 34px;
		font-weight: 600;
		@media (max-width: 768px){
			font-size: 20px;
		}
	}
	@media (max-width: 768px){
		margin-top: 20px;
	}
}
.article-count{
	margin-bottom: 0;
}
.latest-reads{
	 margin: 60px 0 30px;
	.recent-post{
	    &-featured-img{
	    	img{
	    		width: 100%;
	    		object-fit: cover;
	    		@media (min-width: 768px) and (max-width: 991px){
		    		height: 120px;
				}
				@media (min-width: 1024px){
					height: 150px;
				}
	    	}
	    }
		&-header{
			h2.title{
				padding: 0;
				line-height: 26px;
			    min-height: 64px;
				a{
					font-size: 16px;
					line-height: 26px;
					font-weight: 600;
					color: black;
					@media (max-width: 768px){
						font-size: 14px;
						line-height: 19px;
					}
					&:hover{
						text-decoration: none;
					}
				}
			}
		}
		&-excerpt{
		    font-size: 15px;
		    line-height: 1.5 !important;
		    color: #212326;
			text-align: justify;
		}
		&-icons{
			display: none;
		}
	}
	&.category-list-view{
		display: block !important;
		margin-top: 0;
		.recent-post {
		    border-top: 0;
    		.category{
				margin: 10px 0;
				a{
					color: #00bfbf;
					font-weight: 500;
					font-size: 14px;
				    line-height: 18px;
				    &:hover{
				    	text-decoration: none;
				    }
				}
			}
			.dot{
			    padding: 0 8px;
				i{
					font-size: 5px;
					vertical-align: middle;
				}
			}
			.last-read{
				color: rgba(0,0,0,0.49);
				font-size: 12px;
				line-height: 18px;
			}
			&-header{
				h2.title{
					line-height: 24px;
					padding: 6px 0px;
					min-height: 75px;
					a{
						text-transform: capitalize;
					}
					@media (max-width: 768px){
						min-height: 100%;
					}
				}
			}
			&-featured-img{
				img{
					@media (min-width: 1024px){
						height: 200px;
					}
				}
			}
			&-icons{
				display: none;
				margin: 15px 0 10px;
					span.heart{
						i{
							color: red;
						}
					}
					span.comment{
					i{
						color: #868686;
					}
				}
			}
		}
	}
	.next-articles{
		a{
			color: #00bfbf;
			font-weight: 500;
			font-size: 14px;
			line-height: 18px;
		}
	}
	.img-tag{
		@media(min-width: 768px){
			font-size: 8px;
			padding: 4px 8px !important;
			border-radius: 10px;
		}
	}
}
.transformation-template-section{
	padding-right: 3rem;
	.transformation-section{
		&-single-image{
			width: 80%;
			@media (max-width: 991px){
				width: 100%;
			}
		}
	}
	.entry-content{
		&-heading{
		    padding: 30px 0 0;
		    font-size: 24px !important;
		    line-height: 1.5;
		    text-transform: capitalize;
	        color: black;
		    @media (max-width: 768px){
				font-size: 20px !important;
				line-height: 24px;
		    }
		}
		&-single{
			font-size: 17px;
			line-height: 2 !important;
			color: #333 !important;
			margin: 10px 0 !important;
			text-align: justify;
	        white-space: pre-wrap;
			@media (max-width: 768px){
				font-size: 15px;
			}
		}
	}
	@media (max-width: 768px){
		padding-right: 15px;
	}
}
.transformation{
	&-story{
	    background: #F2F2F2;
	    padding: 30px;
	    text-align: center;
	    margin: 30px 0 15px;
	    &_heading{
			font-size: 26px;
			line-height: 40px;
			padding-bottom: 20px;
			font-weight: 400;
			color: #000000;
	    }
	}
}
.ampforwp-comment-wrapper{
	display: none;
}
.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    background-color: rgba(0,191,191,0.6);
    color:#fff;
    z-index: 9;
}
.comment-block .comment-respond{
	margin-bottom: 40px;
	.comment-input{
		width: 49%;
		&-name{
			float: left;
			margin-right: 2%;
		}
	}
	.form-submit{
		margin-top: 10px;
		#submit{
			color: #fff !important;
		    background-color: #00bfbf !important;
		    border-color: #00bfbf !important;
		    &:hover{
		    	background-color: #009999 !important;
		    }
		}
	}
}
.comments-list{
	.comment-author-image{
		float: left;
		margin-right: 10px;
	}
	.comment-text{
		overflow: hidden;
		&-author{
			font-weight: bold;
			font-size: 15px;
		}
		&-content{
			font-size: 14px;
		}
		&-date{
			font-size: 13px;
    		color: #90949c;
		}
	}
}
/*banner css*/
.popupOverlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000000a6;
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 99;
    
	img{
	width: 80%;
	height: auto;
	@media (max-width:768px){
		width: 95%;
	}
  }
}


/* Place Holder CSS */
::-webkit-input-placeholder {
  color: #000;
  opacity: 0.5;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:-moz-placeholder {
  color: #000;
  opacity: 0.5;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
::-moz-placeholder {
  color: #000;
  opacity: 0.5;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:-ms-input-placeholder {  
  color: #000;
  opacity: 0.5;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

/* Place Holder CSS for Focus */
:hover::-webkit-input-placeholder {
  opacity: 0.75;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:hover:-moz-placeholder {
  opacity: 0.75;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:hover::-moz-placeholder {
  opacity: 0.75;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:hover:-ms-input-placeholder {  
  opacity: 0.75;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

/* Place Holder CSS for Focus */
:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus:-ms-input-placeholder {  
  opacity: 0;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

/* product-listing section */
.product-listing-section{
	margin:60px 0 0;
	background-color: theme-color("light-gray-1");

	.product-listing{
		padding:30px 0 80px;

		.section-title{
			font-size: 40px;
			line-height: 45px;
			text-transform: capitalize;
			text-align: center;
			padding-bottom: 54px !important;
		}
		.products-list{
			flex-wrap: nowrap;
			margin: 0;
			justify-content: center;
			grid-gap: 18px;

			.recommend-products {
				width:331px;
				.product-stack{
					flex-direction: column;
					margin: 0;
					align-items: center;
					
					.wraper{
						border: 1px solid #2D374833;
    					border-radius: 10px;
    					overflow: hidden;

						.product-stack-image{
							height: 269px;
							overflow: hidden;
							text-align: center;
							background: #fff;
							padding: 30px;
							a{
								img{
									width: auto;
									height: 100%;
								}
							}
						}
						.product-stack-content{
							padding: 10px 20px 20px;
							.product-desc{
								font-size: 20px;
								line-height: 25px;
								color:theme-color("dark-blue");
								font-weight: bold;
								min-height: 78.5px;
								margin: 0;
							}
							.discount{
								font-size: 16px;
								line-height: 20px;
								margin: 0;
								margin-top: 5px;
							}
							.buy-now-btn{
								display: block;
								width: 166px;
								margin-top: 10px;

								.article-btn{
									color:#fff;
								}
							}
						}
					}
				}
			}
		}
	}
}

/* eyes divider */
.divider-eyes{
	height: 2px;
	background-color: #00000066;
	position: relative;
	display: flex;
    align-items: center;
    justify-content: center;

	@media(max-width:768px){
		width: calc(100% - 32px);
		margin: auto;
		height: 1px;
		img{
			width: 40px;
		}
	}
}

/* read-these-next */
.latest-reads{
	.section-title{
		font-size: 55px;
		line-height: 75px;
		font-weight: bold;
		text-align: center;
		text-transform: capitalize;
		padding:80px 0 33px;
	}
	.read-these-next{
		display: flex;
		flex-wrap: wrap;

		.recent-post{
			&:not(:nth-child(3n)){
				padding-right:27px !important;
			}
			.single-post{
				margin: 0;
				flex-direction: column;
				margin-bottom: 20px;
				position: relative;
				border-radius: 10px;
				overflow: hidden;

				.recent-post-featured-img{
					img{
						height: 270px;
					}
				}

				.next-articles{
					position: absolute;
    				bottom: 0;
    				padding: 20px;

					.recent-post-header{
						h2.title{
							min-height: auto;
							margin: 0;
							a{
								color:#ffffff;
								font-size: 20px !important;
								line-height: 28px;
								font-weight: bold;
							}
						}
					}
				}
				&.hovered{
					.gradient-overlay{
						opacity: 1;
					}
				}
			}
		}
	}
	@media(max-width:768px){
		.section-title{
			font-size: 20px;
			line-height: 25px;
			padding: 35px 0 10px;
		}
		.read-these-next{
			.recent-post{
				&:not(:nth-child(3n)){
					padding-right:0px !important;
				}
				.single-post{
					margin-bottom: 10px;

					.recent-post-featured-img{
						img{
							height: 260px;
						}
					}

					.next-articles{
						.recent-post-header{
							h2.title{
								a{
									font-size: 17px !important;
									line-height: 25px;
								}
							}
						}
					}
				}
			}
		}
	}
}

.subscribe-container{
	margin: 30px auto 10px;

	@media(max-width:768px){
		margin: 10px auto 0;
	}
}
.subscribe-section{
	background-color: theme-color("light-gray-1");
	padding: 50px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 10px;
	.wrap{
		.form-title{
			font-size: 40px;
			font-weight: bold;
			margin-bottom: 11px;
		}
		p{
			font-size: 20px;
			line-height: 35px;
			margin-bottom: 0;
		}
	}
	.subscribe-form-wide{
		margin-top: 20px;
		.frm_fields_container{
			display: flex;
			position: relative;
			grid-gap: 0;
			.frm_submit{
				button{
					margin:0;
					width: 147px;
					padding:11px;
					height: 40px;
					background-color: theme-color("dark-turquoise") !important;
					color:theme-color("dark-blue") !important;
					text-transform: uppercase;
					font-size: 14px;
					font-weight: bold;
					border:none !important;
					outline:none !important;
					border-radius: 8px;
					position: absolute;
					right: 110px;
					top: 7.5px;

					&:hover{
						background-color: theme-color("primary-hover") !important;
					}
				}
			}
			input{
				border-radius: 10px;
    			max-width: 484px !important;
    			height: 55px;
    			border: none !important;
    			font-size: 20px;
    			line-height: 45px;
    			padding: 0 20.24px;
				box-shadow: none !important;
				font-family: "Nunito", sans-serif !important;
			}
			.frm_error{
				position: absolute;
				bottom: -24px;
				left: 100px;
			}
			.form-field{
				padding: 0 !important;
				margin:0 !important;
				display: flex;
    			justify-content: center;
    			align-items: center;
			}
		}
	}
	.with_frm_style .frm_form_fields > fieldset{
		padding: 0 !important;
		margin:0 !important;
	}
	.frm_style_formidable-style.with_frm_style input::-webkit-input-placeholder{
		color:theme-color("dark-blue") !important;
		opacity: 1;
		font-family: "Nunito", sans-serif !important;
	}
	@media(max-width:454px){
		padding: 20px 16px;
		.wrap{
			width: 100%;
			.form-title{
				font-size: 20px;
				line-height: 25px;
				margin-bottom: 10px;
			}
			p{
				font-size: 14px;
				line-height: 20px;
				max-width: 262px;
				margin: 0 auto;
			}
		}
		.subscribe-form-wide{
			margin-top: 10px;
			.frm_fields_container{
				display: block;
				.form-field{
					display: block;
				}
				input{
					font-size: 14px;
					line-height: 20px;
					height: 45px;
					width: 100%;
				}
				.frm_error{
					position: relative;
					bottom: -5px;
					left: 0;
				}

				.frm_submit{
					button{
						position: relative;
						right: 0;
						top: 10px;
						width: 100%;
						color:#2D3748 !important;
					}
				}
			}
		}
		.frm_style_formidable-style.with_frm_style input::-webkit-input-placeholder{
			color:#2D3748 !important;
		}
	}
}

.article-heading {
    font-size: 40px;
    line-height: 45px;
    font-weight: bold;
    margin-bottom: 52px;
}