.breadcrumbs-wrapper{
	.breadcrumbs-inside{ 
		margin: 20px 0;
		a{
			font-size: 13px;
		    color: rgba(0, 0, 0,0.3);
		    &:hover{
		    	text-decoration: none;
		    }
		    &:after{
	    	    content: "/";
			    margin: 0 10px;
				color: rgba(0, 0, 0,0.3);
		    }
		    &:last-child{
		    	color: rgba(0, 0, 0,0.6);
		    	&:after{
		    	    content: "";
			    }
		    }
		}
		.breadcrumb_last{
			font-size: 13px;
		}
	}
}
.single-post{
	.single_post_page{
		.transformation-section-single-image img{
			height: auto;
		}
		.category{
			margin: 10px 0;
			a{
				color: #00bfbf;
				font-weight: 500;
				font-size: 14px;
			    line-height: 18px;
			    &:hover{
			    	text-decoration: none;
			    }
			}
		}
		.dot{
		    padding: 0 8px;
			i{
				font-size: 5px;
				vertical-align: middle;
			}
		}
		.last-read{
			color: rgba(0,0,0,0.49);
			font-size: 14px;
			line-height: 26px;
		}
		.entry-title{
			font-size: 38px;
			line-height: 50px;
			padding-right: 30px;
			font-weight: bold;
			padding-bottom: 0;
			margin-bottom: 0;
		    text-transform: capitalize;
	        color: #000;
			@media (max-width: 767px){
				font-size: 26px;
			    line-height: 34px;
			}
		}
	    .author{
			padding: 10px;
			@media (max-width: 767px){
				font-size: 20px;
				line-height: 24px;
			}
	    }
	    .blog_featured_img{
	    	img{
			    width: 100%;
			    max-width: 100%;
			    object-fit: cover;
	    	}
	    }
	    .entry-header{
	    	.post-title{
				display: flex;
			    align-items: flex-end;
				.entry-title{
				    flex: 0 0 66.66667%;
				    max-width: 66.66667%;
				    float: left;
					@media (max-width: 767px){
						max-width: 100%;
						width: 100%;
					}
				}
				.author{
			    	float: left;
					flex: 0 0 33.33333%;
					max-width: 33.33333%;
					padding: 15px 15px 0px 15px;
					&-image{
					    margin-right: 15px;
						img{
							width: 36px;
							height: 36px;
							border-radius: 36px;
						}
					}
					.role{
						color: $gray-600;
					}
					@media (max-width: 767px){
						font-size: 26px;
						line-height: 33px;
						max-width: 100%;
						width: 100%;
						padding-left: 0;
					}
			    }
			    @media (max-width: 767px){
			    	flex-direction: column;
			    }
	    	}
	    }
		h2{
    		padding: 30px 0 0;
			font-size: 25px!important;
			line-height: 1.5;
		    span{
				font-weight: 600 !important;
				font-size: 24px! important;
				line-height: 1.5;
		    }
		    @media (max-width: 767px){
		    	font-size: 20px !important;
		    	line-height: 24px;
		    }
		}
		.entry-content {
			margin: 0;
			table{
				border: 0;
			}
			table td.rtecenter{
				text-align: center;
			}
			table tr:nth-child(2n+1){
				background: #e0e0e0;
			}
			table tr:nth-child(2n+2){
				background: #f5f5f5;
			}
			a{
				color: #00bfbf;
				span{
					color: #272727 !important;
				    font-weight: 400;
				    text-decoration: underline;
				    transition: all 0.35s ease;
				    color: #212326 !important;
				    &:hover{
				    	text-decoration: none;
				    }
				}
			}
			p, span{
			    font-family: 'Roboto', sans-serif !important;
				font-size: 17px;
				line-height: 2 !important;
				color: #333 !important;
				margin: 10px 0 !important;
				text-align: justify;
				@media (max-width: 767px){
					font-size: 15px;
				}
   			}
   			ul, ol{
   				li{
					font-size: 17px;
					line-height: 2 !important;
		   			color: #212326;
					@media (max-width: 767px){
						font-size: 15px;
					}
   				}
   			}
		}
		.hk-content-image{
			margin: 15px 0 25px;
		}
		.share{
			margin: 30px 0;
			padding: 30px 0;
			border-top: 1px solid #bfbfbf;
			border-bottom: 1px solid #bfbfbf;
			display: flex;
			justify-content: space-between;
			align-items: center;
			&-icons{
				color: #9c9c9c;
				span{
					font-size: 12px;
				}
				a{
					color: #9c9c9c;
					i{
						font-size: 20px;
						padding-right: 14px;
						cursor: pointer;
					}
					&:hover{
						text-decoration: none;
					}
				}
				i{
				    font-size: 18px;
				    cursor: pointer;
				}
			}
			&-desktop{
				@media (max-width: 767px){
					display: none;
				}
			}
			&-mob{
			    display: flex;
		        align-items: baseline;
	            padding: 15px 0;
				border-top: 0px;
				margin: 0;
			    .share-title{
			    	font-size: 20px;
			    	line-height: 26px;
			    	color: #918F8F;
			    	text-transform: capitalize;
			    }
				@media (min-width: 768px){
					display: none;
				}
			}
			@media (max-width: 767px){ 
				text-align: left;
			}
		}
	}
	&-content{
		padding-right: 50px;
		@media (max-width: 767px){
			padding-right: 15px;
		}
	}
	@media (max-width: 767px){
		.breadcrumbs-wrapper{
			display: none;
		}
	}
}
.category-name{
	margin-bottom: 0;
	a{
		color: #000000;
		padding: 0 15px;
		font-size: 30px;
		line-height: 34px;
		font-weight: 600;
		@media (max-width: 767px){
			font-size: 20px;
		}
	}
	@media (max-width: 767px){
		margin-top: 20px;
	}
}
.article-count{
	margin-bottom: 0;
}
.latest-reads{
	 margin: 60px 0 30px;
	.recent-post{
	    border-top: 1px solid #bfbfbf;
	    &-featured-img{
	    	img{
	    		width: 100%;
	    		object-fit: cover;
	    		@media (min-width: 768px) and (max-width: 991px){
		    		height: 120px;
				}
				@media (min-width: 1024px){
					height: 150px;
				}
	    	}
	    }
		&-header{
			h2.title{
				padding: 0;
				line-height: 26px;
				a{
					font-size: 18px;
					line-height: 26px;
					font-weight: 600;
					color: black;
					@media (max-width: 767px){
						font-size: 14px;
						line-height: 19px;
					}
					&:hover{
						text-decoration: none;
					}
				}
			}
		}
		&-excerpt{
		    font-size: 15px;
		    line-height: 1.5 !important;
		    color: #212326;
		}
		&-icons{
			display: none;
		}
	}
	@media (max-width: 767px){
		display: none;
	}
	&.category-list-view{
		display: block !important;
		margin-top: 0;
		.recent-post {
		    border-top: 0;
    		.category{
				margin: 10px 0;
				a{
					color: #00bfbf;
					font-weight: 500;
					font-size: 14px;
				    line-height: 18px;
				    &:hover{
				    	text-decoration: none;
				    }
				}
			}
			.dot{
			    padding: 0 8px;
				i{
					font-size: 5px;
					vertical-align: middle;
				}
			}
			.last-read{
				color: rgba(0,0,0,0.49);
				font-size: 12px;
				line-height: 18px;
			}
			&-header{
				h2.title{
					line-height: 24px;
					padding: 6px 0px;
					a{
						text-transform: capitalize;
					}
				}
			}
			&-featured-img{
				img{
					@media (min-width: 1024px){
						height: 200px;
					}
				}
			}
			&-icons{
				display: none;
				margin: 15px 0 10px;
					span.heart{
						i{
							color: red;
						}
					}
					span.comment{
					i{
						color: #868686;
					}
				}
			}
		}
	}
}
.transformation-template-section{
	padding-right: 3rem;
	.transformation-section{
		&-single-image{
			width: 80%;
			@media (max-width: 767px){
				width: 100%;
			}
		}
	}
	.entry-content{
		h2.&-heading{
		    padding: 30px 0 0;
		    font-size: 25px !important;
		    line-height: 1.5;
		    text-transform: capitalize;
		    @media (max-width: 767px){
				font-size: 20px !important;
				line-height: 24px;
		    }
		}
		&-single{
			font-size: 17px;
			line-height: 2 !important;
			color: #333 !important;
			margin: 10px 0 !important;
			text-align: justify;
			@media (max-width: 767px){
				font-size: 15px;
			}
		}
	}
	@media (max-width: 767px){
		padding-right: 15px;
	}
}
.transformation{
	&-story{
	    background: #F2F2F2;
	    padding: 30px;
	    text-align: center;
	    margin: 30px 0 15px;
	    &_heading{
			font-size: 26px;
			line-height: 40px;
			padding-bottom: 20px;
			font-weight: 400;
			color: #000000;
	    }
	}
}