
.single-post{
	.breadcrumbs-wrapper{
		.breadcrumbs-inside{ 
			margin: 20px 0;
			a{
				font-size: 13px;
			    color: rgba(0, 0, 0,0.3);
			    &:hover{
			    	text-decoration: none;
			    }
			    &:after{
		    	    content: "/";
				    margin: 0 10px;
    				color: rgba(0, 0, 0,0.3);
			    }
			}
			.breadcrumb-title{
				font-size: 13px;
			}
		}
	}
	.single_post_page{
		.category{
			margin: 10px 0;
			a{
				color: #00bfbf;
				font-weight: 500;
				font-size: 14px;
			    line-height: 18px;
			    &:hover{
			    	text-decoration: none;
			    }
			}
		}
		.dot{
		    padding: 0 8px;
			i{
				font-size: 5px;
				vertical-align: middle;
			}
		}
		.last-read{
			color: rgba(0,0,0,0.49);
			font-size: 14px;
			line-height: 26px;
		}
		.entry-title{
			font-size: 33px;
			line-height: 44px;
			font-weight: bold;
			margin-top: 15px;
			@media (max-width: 767px){
				font-size: 26px;
				line-height: 33px;
			}
		}
		h2{
			font-size: 26px;
			line-height: 30px;
		    padding: 15px 0;
		}
		.entry-content {
			a{
				color: #00bfbf;
				span{
					color: #00bfbf !important;
				    font-weight: 400;
				}
			}
			p, span{
			    font-size: 14px !important;
			    font-family: 'Roboto', sans-serif !important;
	   			line-height: 30px;
	   			padding-bottom: 10px;
   			}
   			ul, ol{
   				li{
				    font-size: 14px !important;
		   			line-height: 30px;
		   			padding-bottom: 10px;
   				}
   			}
		}
		.share{
			margin: 30px 0;
			padding: 30px 0;
			border-top: 1px solid #bfbfbf;
			border-bottom: 1px solid #bfbfbf;
			display: flex;
			justify-content: space-between;
			align-items: center;
			&-icons{
				color: #9c9c9c;
				margin-top: 10px ;
				span{
					font-size: 12px;
				}
				a{
					color: #9c9c9c;
					i{
						font-size: 18px;
						padding-right: 14px;
						cursor: pointer;
					}
					&:hover{
						text-decoration: none;
					}
				}
				i{
				    font-size: 18px;
				    cursor: pointer;
				}
			}
			@media (max-width: 767px){ 
				display: block;
				text-align: left;
			}
		}
		.latest-reads{
			 margin: 60px 0 30px;
			.recent-post{
			    border-top: 1px solid #bfbfbf;
				&-header{
					.title{
						padding: 0;
						a{
							font-size: 18px;
							line-height: 26px;
							font-weight: 900;
							color: black;
							&:hover{
								text-decoration: none;
							}
						}
					}
				}
				&-excerpt{
					font-size: 14px;
					line-height: 22px;
				}
			}
		}
	}
}