/* transformation blog page */
.single-transformation{
	.single-post{
		.single_post_page{
            .transformation-details{
                &-table{
                    margin-bottom: 61px;
                    table{
                        margin-bottom: 0;
                        border-radius: 10px;
                        overflow: hidden;
                        color: theme-color("dark-blue");
                        font-size: 20px;
                        line-height: 45px;
                        thead{
                            background-color: theme-color("dark-turquoise");
                            color: #fff;
                            font-weight: bold;
                            th{
                                border-color: #fff;
                                &:not(:last-child){
                                    border-right: 1px solid #fff;
                                }
                                &:not(:first-child){
                                    padding:14px 30px  !important;
                                }
                            }
                        }
                        tbody{
                            border:none !important;
                            tr{
                                &:nth-child(odd){
                                    background-color: theme-color("light-gray-1");
                                }
                                th{
                                    font-weight: bold;
                                    border-right: 1px solid #fff;
                                    padding:14px 40px  !important;
                                }
                                th, td{
                                    border-top: 1px solid #fff;
                                }
                                td{
                                    padding:14px 30px  !important;
                                    &:not(:last-child){
                                        border-right: 1px solid #fff;
                                    }
                                }
                            }
                        }
                    }
                }
                &-images{
                    height: 883px;
                    position: relative;
                    max-width: 670px;
                    margin: auto;
                    .image-before, .image-after{
                        width: 296px;
                        height: 535px;
                        object-fit: cover;
                        position: absolute;
                        object-position: top;
                    }
                    .image-before{
                        left: 0;
                        top:0
                    }
                    .image-after{
                        right: 0;
                        bottom:0;
                    }
                    .arrow-before, .arrow-after{
                        position: absolute;
                        display: flex;
                        align-items: center;

                        .arrow{
                            position: relative;
                        }

                        .arrow-text{
                            font-size: 37px;
                            line-height: 83px;
                            font-family: 'Birthstone', cursive;
                            transform: matrix(0.98, -0.19, 0.19, 0.98, 0, 0);
                        }
                    }
                    .arrow-before {
                        left: 324px;
                        top: 20px;

                        .arrow{
                            top: 10px;
                        }

                        .arrow-text{
                            margin-left: 20px;
                        }
                    }
                    .arrow-after {
                        right: 341px;
                        bottom: 30px;
                        .arrow{
                            transform: rotate(180deg);
                        }
                        .arrow-text{
                            margin-right: 20px;
                        }
                    }
                }
            }
            .entry-header{
                .author-bar-top{
                    margin-bottom: 61px;
                }
            }
			.entry-content{
                padding-top: 70px;
				h2{
					font-size: 40px;
					line-height: 45px;
					font-weight: bold;
					margin-bottom: 28px;
				}
			}
		}
	}
    @media(max-width:868px) and (min-width: 601px){
        .single-post{
            .single_post_page{
                .transformation-details{
                    &-table{
                        margin-bottom: 30px !important;
                    }
                    &-images{
                        .image-before, .image-after{
                            width: 48%;
                        }
                    }
                }
            }
        }
    }
	@media(max-width:768px){
		.single-post{
			.single_post_page{
                .transformation-details{
                    &-table{
                        margin-bottom: 5px;
                        table{
                            color: theme-color("dark-blue");
                            font-size: 11px;
                            line-height: 14px;
                            thead{
                                th{
                                    &:not(:first-child){
                                        padding:5px 10px !important;
                                    }
                                }
                            }
                            tbody{
                                tr{
                                    th{
                                        padding:5px 10px !important;
                                    }
                                    td{
                                        padding:5px 10px !important;
                                    }
                                }
                            }
                        }
                    }
                }
                .entry-header{
                    .author-bar-top{
                        margin-bottom: 24px;
                    }
                }
				.entry-content{
                    padding-top: 20px;
					h2{
						font-size: 18px;
						line-height: 25px;
						margin-bottom: 10.21px;
					}
				}
			}
		}
	}
    @media(max-width:600px){
		.single-post{
			.single_post_page{
                .transformation-details{
                    &-images{
                        height: auto;
                        position: relative;
                        .image-before, .image-after{
                            width: 296px;
                            height: 535px;
                            object-fit: cover;
                            position: relative;
                        }
                        .image-after{
                            margin-left: calc(100% - 296px);
                        }
                        .arrow-before, .arrow-after{
                            position: relative;

                            .arrow-text{
                                font-size: 27px;
                                line-height: 61px;
                            }
                        }
                        .arrow-before {
                            left: 0;
                            top: 0;
                            margin-bottom: 14px;
                            justify-content: flex-end;
                            margin-right: 56px;
                        }
                        .arrow-after {
                            right: 0;
                            bottom: 0;
                            left: 0;
                            margin-left: 18px;

                            .arrow{
                                transform: scaleX(-1) !important;
                            }
                        }
                    }
                }
			}
		}
	}
}

/* archive page */
.category .read-these-next, .post-type-archive .read-these-next{
	display:block;
}

.post-type-archive-transformation{
    .category-name, .article-count{
        padding-left: 0 !important;
        font-weight: bold;
    }
    .transformation-list-view{
        margin-top: 30px;
        .category-post-row{
            .transformation-section-single{
                width: 33.33%;
                margin-bottom: 20px;
    
                &:not(:nth-child(3n)){
                    padding-right: 20px;
                }
            }
        }
    }
    @media(max-width:768px){
        .category-name, .article-count{
            padding-left: 10px !important;
        }
        .transformation-list-view{
            margin-top: 10px;
            .category-post-row{
                padding: 0 16px;
                .transformation-section-single{
                    width: 100%;
                    margin-bottom: 10px;

                    &:not(:nth-child(3n)){
                        padding-right: 0px;
                    }
                }
            }
        }
    }
}