$theme-colors: (
  "primary": #00bfbf,
  "secondary": #004283,
  "dark": #333,
  "light": #f3f3f3,
);

$danger: #ad110a;
$d-blue: #003E86;
$gray-500: #adb5bd !default;
$gray-800: #343a40 !default;
$white: #fff !default;
$black: #000 !default;
