$theme-colors: (
  "primary": #00bfbf,
  "secondary": #004283,
  "dark": #333,
  "light": #f3f3f3,
  /* theme colors 2021 */
  "platinum": #D7E1F4,
  "dark-blue": #0B1B3D,
  "dark-turquoise": #05BFBF,
  "white": #FFFFFF,
  "light-gray-1": #BDC0C7,
);

$danger: #ad110a;
$d-blue: #003E86;
$gray-500: #adb5bd !default;
$gray-600: #828282 !default;
$gray-800: #343a40 !default;
$white: #fff !default;
$black: #000 !default;
$sky-blue: #00bfbf;
