.videos-banner-iframe{
	border-radius: 24px;
    height: 420px;
    width: 100%;
    @media (max-width: 767px){
		height: 300px;
	}
}
.banner-video {
	&:nth-child(odd) {
		display: none;
	}
}
.trending-videos-section {
	.trending-articles-single {
		&:nth-child(odd) {
			display: none;
		}
	}
}
.videos-single {
	&:nth-child(odd) {
		display: none;
	}
}
.explore-video-section {
	.explore-articles-single {
		&:nth-child(odd) {
			display: none;
		}
	}
}