.videos-banner-iframe{
	border-radius: 24px;
    height: 420px;
    width: 100%;
    @media (max-width: 767px){
		height: 300px;
	}
}
.banner-video {
	&:nth-child(odd) {
		display: none;
	}
}
.trending-videos-section {
	.trending-articles-single {
		&:nth-child(odd) {
			display: none;
		}
	}
}
.videos-single {
	&:nth-child(odd) {
		display: none;
	}
}
.more-articles-video {
	&:nth-child(odd) {
		display: none;
	}
}
.explore-video-section {
	.explore-articles-single {
		&:nth-child(odd) {
			display: none;
		}
	}
}

.video-template-default{
	.entry-title{
		margin: 52px 0 42.25px !important;
	}
	.embed-container { 
		position: relative; 
		/* padding-bottom: 56.25%; */
		overflow: hidden;
		max-width: 100%;
		height: 464px;
	} 
	
	.embed-container iframe,
	.embed-container object,
	.embed-container embed { 
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	@media(max-width:768px){
		.entry-title{
			margin-top: 20px !important;
		}
		.embed-container{
			height: 225px;
		}
	}
}


/* archive page */

.post-type-archive-video{
	.banner{
		@media(max-width:768px){
			margin-left: 0;
			margin-right: 0;

			.banner-slider{
				padding:0;
			}
		}
		.banner-category{
			margin-top:0;
			&-single{
				&:not(:last-child){
					margin-bottom: 20px;
				}
				&-image{
					img{
						height: 200px;
					}
				}
			}
		}
		.videos-banner-iframe{
			height: 100%;

			@media(max-width:768px){
				height: 300px;
			}
		}
	}
	.latest-articles-section{
		.latest-articles{
			&-single{
				&-image{
					height: auto;
					width:100%;
				}
				&-main{
					.latest-articles-single-image{
						height: 300px;
						@media(min-width:768px){
							padding-right: 4rem;
						}
					}
					.latest-articles-single-content{
						.content-title{
							margin-top: 10px;
						}
					}
				}
			}
			.videos-single{
				&.latest-articles-single{
					margin-left: auto;
					background-color: transparent;
					&:nth-child(even){
						.latest-articles-single-content{
							padding-left: 15px;
						}
					}
					.latest-articles-single-content{
						justify-content: flex-start;
					}
				}
			}
		}
	}
	.content-title{
		.category{
			a{
				font-weight: bold;
				font-size: 16px;
			}
		}
	}
	.newsletter-section{
		margin-top: 48px;
	}
	.more-articles-section{
		.more-articles{
			background-color: transparent;
			&-single{
				&-content{
					padding-left: 15px;
					.content-title{
						.title{
							a{
								font-size: 16px;
								line-height: 100%;
							}
						}
					}
				}
			}
		}
	}
	@media(max-width:768px){
		.latest-articles-section{
			.latest-articles{
				margin-top: 0 !important;
				.videos-single{
					padding:0;
				}
				&-single{
					&-content{
						padding:0;
					}
				}
				.other-latest-articles{
					padding:0;
					margin-top: 10px;
					.latest-articles-single{
						margin: auto;
						&-content, &-image{
							padding:0 !important;
						}
						&:last-child{
							margin-bottom: 0 !important;
						}
					}
				}
			}
		}
		.newsletter-section{
			margin-top: 0px;
		}
		.more-articles-section {
			display: none;
		}
		.explore-video-section{
			.action-btn{
				margin-top: 20px;
			}
			.explore-articles-loader{
				left: 21%;
			}
			.explore-articles-single{
				max-width: 100%;
				flex: 0 0 100%;
			}
		}
	}
}